<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 편집</title>
</head>
<body>
<h1>프로젝트 편집</h1> <br/>
<form method="post" th:action="@{/project/modify/{projectNo}(projectNo=${project.no})}">
    프로젝트 이름 <input type="text" name="name" th:value="${project.name}"><br/>
    프로젝트 상태
    <select name="state">
        <option th:each="state:${states}" th:if="${#strings.equals(state,project.state)}" th:value="${state.state}" th:utext="${state.state}" selected="selected"></option>
        <option th:each="state:${states}" th:unless="${#strings.equals(state,project.state)}" th:value="${state.state}" th:utext="${state.state}"></option>
    </select> <br/>
    프로젝트 설명 <textarea name="explanation" rows="10" cols="80" th:text="${project.explanation}"></textarea><br/>
    <input type="submit" value="수정">
</form>
<a href="/project/list/ACTIVE">목록가기</a>
</body>
</html>